
h1 {
color:white;
  font-family: Roboto;
  text-align:center;
  font-size:15rem;

}

 .idekbruh{color:red;    }

  .idekbruh{
    list-style-type: none;
    width:89.9px;
    margin:0 auto;
}

/* Add a black background color to the top navigation */
.idekbruh {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.idekbruh a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.idekbruh a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.idekbruh a.active {
    background-color: #4CAF50;
    color: white;
}

.kk{color:red;    }

 .kk{
   list-style-type: none;
   width:79px;

   margin: 0 auto;
   padding: 0;
}

/* Add a black background color to the top navigation */
.kk {
   background-color: #333;
   overflow: hidden;
}

header{
  background: black;
}

/* Style the links inside the navigation bar */
.kk a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

/* Change the color of links on hover */
.kk a:hover {
   background-color: #ddd;
   color: black;
}

/* Add a color to the active/current link */
.kk a.active {
   background-color: #4CAF50;
   color: white;
}

    body{
      font-family:Roboto;
    background-image:url("https://www.walldevil.com/wallpapers/w04/054021-blurry-city-city-lights-depth-of-field-eiffel-tower-france-night-time-paris.jpg");
}

  footer{
  color:black;
  }

